html{
  font-size: 16px;
  font-family: "Verdana", sans-serif;
  color: eggshell;
}

main{
  background-color: black;
  position: relative;
  width: 100%;
}

body {
    margin: 0;
}

/*header */

header-name{
  color: darkgrey;
  font-weight: 400;
}

.header-title{
  font-weight: bold;
  color: black;
  font: 32px;
}

header{
  background-color: yellow;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  display: flex;
  position: fixed;
  z-index: 1;
}

/* logo */

.logo{
  display: flex;justify-content: space-between;
  align-items: center;
}

.logo img{
  margin-left: 1.5rem;
  height: 3rem;
}

header .logo .header-name{
  color: black;
}



/* Navigation */

nav {
    text-align: right;
    flex-grow: 1;
}

nav ul {
    padding: 1rem;
}

a {
    color: darkgrey;
    text-decoration: none;
}

.desktop-nav a{
  padding: 0px 1rem;
}
