html{
  font-size: 16px;
  color: white;
}

main{
  background-color: darkgray;
  position: relative;
  width: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
}

/*header */

header-name{
  color: darkgrey;
  font-weight: 400;
}

.header-title{
  font-weight: bold;
  color: black;
  font: 32px;
}


header{
  background-color: yellow;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  display: inline-flex;
  position: fixed;
  z-index: 1;
  align-items: center;
}

/* logo */

.logo{
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.logo img{
  margin-left: 1.5rem;
  height: 3rem;
}

header .logo .header-name{
  color: darkgrey;
}



/* Navigation */

nav {
    text-align: right;
    flex-grow: 1;
}

nav ul {
    padding: 1rem;
}

a {
    color: darkgray;
    text-decoration: none;
}

.desktop-nav a{
  padding: 0px 1rem;
}

.container{
  display: flex;
  margin: auto;
  align-content: center;
  border: 1px;
}

h1{
  font-size: 2.5rem;
  font-weight: 900;
  margin: 100px 120px 40px 0px;
}

h4{
  font-size: 1.25rm;
  font-weight: 600;
  margin: 0px 0px 40px 0px;
}

h3{
  font-size: 1.4rem;
  font-weight: 700;
  margin: 24px 24px;
}

h5{
  font-size: 1rem;
  font-weight: 700px;
  margin-bottom: 32px;

}

p{
  font-size: 1rem;
}

.banner-image{
  width:60%;
  height: auto;
  margin: 50px 24px 32px 24px;
}

.banner-image img{
  width: 100%;
  height: auto;
}

/*learning */

#learning{
  padding: 2rem 1.5rem;
}

.learning-text{
  margin-left: 24px;
}

.column{
  flex-direction: column;

  margin: 10px 10px 10px 10px;
}

.button{
  background-color: #3e282a;
  text-align: center;
  padding: 1rem;
  border-radius: .2rem;
  margin: 10px 200px 0px 0px;
}

.button a{
  color: #fff;
  text-decoration: none;
  margin: 8px 8px;
}
